# Retail Sales Analysis and Prediction

#### An End to End Databricks Project

# Tools
- Databricks
- Python
- Pyspark
- Azure Blob Storage
- Microsoft Fabric LakeHouse
- Delta Tables

#### Project Description: 
This project analyzes historical sales data from a sudo retail company to understand sales patterns, customer behavior, and product performance. Also, it leverages a machine learning model to predict future sales and finally recommend strategies for inventory management and promotions.

### Generate Random Data

In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import random


# Initialize Faker
fake = Faker()

In [7]:
pip install Faker

Collecting Faker
  Downloading Faker-28.1.0-py3-none-any.whl (1.8 MB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\bamidele\anaconda3\lib\site-packages (from Faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\bamidele\anaconda3\lib\site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-28.1.0
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np
from faker import Faker
import random

# Initialize Faker
fake = Faker()

In [43]:
path = r'C:\Users\Bamidele\Desktop\Bams\Databricks\DataBricks-Personal\02. Data'

In [9]:
# Setting the number of records 

num_of_records = 10000

In [17]:
# You need to create a list to store the data 

salesdata = []

In [11]:
# product categories for the data 
categories = ['Electronics', 'Clothing', 'Home & Kitchen', 'Sports', 'Toys']

In [12]:
categories

['Electronics', 'Clothing', 'Home & Kitchen', 'Sports', 'Toys']

In [18]:
# Generating the necessary data
for _ in range(num_of_records):
    customer_id = fake.uuid4()
    customer_name = fake.name()
    product_id = fake.uuid4()
    product_name = fake.word().capitalize()
    category = random.choice(categories)
    price = round(random.uniform(5, 500), 2)
    quantity = random.randint(1, 10)
    transaction_date = fake.date_this_year()
    total_amount = round(price * quantity, 2)
    
    salesdata.append([customer_id, customer_name, product_id, product_name, category, price, quantity, transaction_date, total_amount])

In [20]:
# Creating a DataFrame with the newly generated data
columns = ['Customer_ID', 'Customer_Name', 'Product_ID', 'Product_Name', 'Category', 'Price', 'Quantity', 'Transaction_Date', 'Total_Amount']
df = pd.DataFrame(salesdata, columns=columns)

In [23]:
# check the output of the data before exporting it
df.head()

,Customer_ID,Customer_Name,Product_ID,Product_Name,Category,Price,Quantity,Transaction_Date,Total_Amount
0,115edf52-1291-4027-a5f7-f966c5e6add5,Jay Potter,f9babb05-4ca4-49f3-8121-128939b84781,Wonder,Home & Kitchen,499.55,1,2024-06-20,499.55
1,7c9b84de-6855-4a4d-af53-b71cf6dc36e4,Brianna Lawson,34e7bb20-7aab-423b-ac8b-17e455e3e654,More,Home & Kitchen,83.97,1,2024-01-07,83.97
2,3f849d03-1c23-4f9f-8516-b5734ab66c16,Tara Klein,c83981d0-ff91-4afb-8d5c-8ab0acaa4cea,Present,Clothing,464.59,1,2024-05-18,464.59
3,30f2497b-0e1b-4ba9-a0e0-3f9cef78d78b,William Camacho,6ef63984-a996-4789-af4e-51ecc7951675,Weight,Sports,143.66,4,2024-01-25,574.64
4,17f4b4b8-53cb-4e42-ab15-9191169755e3,Steven Archer,542a8e0d-e44e-4c65-8df1-34f0102d4574,Or,Toys,326.34,5,2024-05-11,1631.70

In [49]:
# Exporting the randomly generated data to csv
df.to_csv(path  + '\sales_data.csv', index = False)

In [ ]:
# print ('Sales data random data') 
print('The random sales data has now been successfully exported')

c/o Bamidele Ajamu
- Thank you